<ul nz-menu nzMode="horizontal" class="app-nav">
  <li nz-menu-item>
    <a routerLink="/submits" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Submits
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="/prompts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Prompts
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="/sources" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Sources
    </a>
  </li>
</ul>
