code {
  font-family: monospace;
  background-color: #f5f5f5;
  padding: 2px 4px;
  border-radius: 4px;
  white-space: nowrap;
}

::ng-deep .ant-table-body {
  max-height: 10000px !important;
  overflow-y: auto !important;
}
