<div class="min-h-[calc(100vh-64px)] flex items-center justify-center p-6">
  <nz-card class="w-full max-w-md">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col items-center justify-center gap-3">
        <img
          alt="Source Code Analyzer icon"
          class="w-70 rounded-xl object-contain"
          src="/robot-icon.png"
        />

        <h3 nz-typography>Enter your API key to continue.</h3>
      </div>

      <div class="flex flex-col gap-2">
        <label nz-typography>API key</label>
        <input
          (keyup.enter)="submit()"
          [(ngModel)]="apiKey"
          nz-input
          placeholder="Enter API key"
          type="password"
        />
      </div>

      @if (errorMessage) {
        <div nz-typography nzType="danger">{{ errorMessage }}</div>
      }

      <button (click)="submit()" [disabled]="isSubmitting" nz-button nzType="primary">
        {{ isSubmitting ? 'Signing in...' : 'Sign in' }}
      </button>
    </div>
  </nz-card>
</div>
