.app-layout {
  min-height: 100vh;
}

.app-header {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, .85);
  font-weight: 600;
}

.app-header-content {
  display: flex;
  align-items: center;
  width: 100%;
}
