<div class="flex flex-col gap-4">
  @if (isLoading || !submitDetails || !submit) {
    <nz-card class="flex items-center justify-center" style="height: 300px; padding: 120px">
      <nz-spin nzTip="Loading..."></nz-spin>
    </nz-card>
  } @else {
    <nz-card>
      <div class="flex gap-4 justify-between items-center mb-4">
        <div class="flex gap-5">
          <div>
            <div nz-typography nzType="secondary">Submit</div>
            <div nz-typography><strong>#{{ submit.id }}</strong></div>
          </div>

          <div>
            <div nz-typography nzType="secondary">Model</div>
            <div nz-typography><strong>{{ submit.model }}</strong></div>
          </div>

          <div>
            <div nz-typography nzType="secondary">Source path</div>
            <div nz-typography>
              <a
                [queryParams]="{source: submit.source_path}"
                [routerLink]="['/sources']"
                class="text-blue-600 hover:text-blue-500"
              >
                <strong>{{ submit.source_path }}</strong>
              </a>
            </div>
          </div>

          <div>
            <div nz-typography nzType="secondary">Prompt path</div>
            <div nz-typography>
              <a
                [queryParams]="{prompt: submit.prompt_path}"
                [routerLink]="['/prompts']"
                class="text-blue-600 hover:text-blue-500"
              >
                <strong>{{ submit.prompt_path }}</strong>
              </a>
            </div>
          </div>

          <div>
            <div nz-typography nzType="secondary">Submit date</div>
            <div nz-typography><strong>{{ submit.created_at | date:'yyyy-MM-dd HH:mm:ss' }}</strong></div>
          </div>
        </div>

        <div class="flex gap-2">
          @if (isAdmin) {
            <button (click)="openReviewModal()" nz-button>Reevaluate submit</button>
            <button (click)="openAdminRatingsModal()" nz-button>View rater ratings</button>
          }

          <a
            [disabled]="!nextSubmitId"
            [routerLink]="['/submits', nextSubmitId]"
            nz-button
            nzType="primary"
          >
            Next submit
          </a>
        </div>
      </div>

      <div class="summary">
        <div class="flex items-center justify-between mb-2 ">
          <div nz-typography nzType="secondary">Summary</div>

          <div class="flex items-center leading-[5px]">
             <div class="rating-box rating-criteria-grid">
              <div class="rating-criterion">
                <span class="text-xs font-semibold">Relevance</span>

                <nz-rate
                  (ngModelChange)="handleSummaryRate('relevance', $event)"
                  [ngModel]="(submitDetails.summary.relevance_rating ?? 0) / 2"
                  [nzAllowClear]="false"
                  [nzAllowHalf]="true"
                  [nzCount]="5"
                  [nzDisabled]="!submitDetails.summary.id"
                />
              </div>

              <div class="rating-criterion quality-rating-box">
                <span class="text-xs font-semibold">Quality</span>

                <nz-rate
                  (ngModelChange)="handleSummaryRate('quality', $event)"
                  [ngModel]="(submitDetails.summary.quality_rating ?? 0) / 2"
                  [nzAllowClear]="false"
                  [nzAllowHalf]="true"
                  [nzCount]="5"
                  [nzDisabled]="!submitDetails.summary.id"
                />
              </div>
            </div>
          </div>
        </div>

        @if (submitDetails.summary.highlightedExplanation) {
          <span [innerHTML]="submitDetails.summary.highlightedExplanation" class="issue-text"></span>
        } @else {
          <span>{{ submitDetails.summary.explanation }}</span>
        }

        <div class="mt-3 flex flex-col gap-2">
          <div nz-typography nzType="secondary" class="mb-0!">Comment (optional)</div>

          <textarea
            [(ngModel)]="summaryCommentInput"
            class="p-2 bg-gray-50 border border-gray-200"
            placeholder="Leave optional comment about this submit"
            rows="3"
          ></textarea>

          <div class="flex justify-end">
            <button (click)="submitSummaryRating()" nz-button nzType="primary">Save comment</button>
          </div>
        </div>

      </div>
    </nz-card>

    <nz-spin [nzSpinning]="isLoading">
      <div class="grid grid-cols-5 gap-4">
        <div class="col-span-1">
          <nz-sider>
            <ul nz-menu nzMode="inline" nzSelectable>
              @for (fileName of fileNames; track fileNames) {
                <li
                  (click)="selectFile(fileName)"
                  [nzSelected]="fileName === selectedFileName"
                  nz-menu-item
                >
                  <div class="flex justify-between items-center w-full">
                    <span>{{ fileName }}</span>
                    <nz-badge [nzCount]="remainingIssuesByFile[fileName] ?? 0" nzStandalone></nz-badge>
                  </div>
                </li>
              }
            </ul>
          </nz-sider>
        </div>

        <div class="col-span-4">
          <nz-card>
            @if (selectedFileName && submit) {
              <app-file-viewer
                (rate)="handleRate($event.issue, $event.criterion, $event.rating)"
                [fileContent]="submit.files[selectedFileName] || ''"
                [fileName]="selectedFileName"
                [issues]="issuesBySelectedFile">
              </app-file-viewer>
            } @else {
              <div nz-typography>Select a file to view its content and issues.</div>
            }
          </nz-card>
        </div>
      </div>
    </nz-spin>
  }
</div>

<app-source-review-modal
  (reviewQueued)="handleReviewQueued($event)"
  [(isVisible)]="isReviewModalVisible"
  [defaultModel]="submit?.model ?? ''"
  [defaultPromptPath]="submit?.prompt_path ?? null"
  [selectedSourcePath]="submit?.source_path ?? null"
></app-source-review-modal>

<app-job-created-modal
  [(isVisible)]="isJobModalVisible"
  [jobIds]="jobModalIds"
></app-job-created-modal>


<app-submit-rater-ratings-modal
  [(isVisible)]="isAdminRatingsModalVisible"
  [isLoading]="isAdminRatingsLoading"
  [ratings]="submitRatingsByRater"
></app-submit-rater-ratings-modal>
