@import "tailwindcss";

.issue-text p {
  margin: 0;
}

.issue-text code {
  background-color: #f5f5f5;
  padding: 0 4px;
  border-radius: 4px;
}

.issue-text blockquote {
  margin: 0;
  padding-left: 1em;
  border-left: 4px solid #ddd;
}
