<nz-modal
  (nzOnCancel)="closeModal()"
  [nzCancelText]="null"
  [nzFooter]="null"
  [nzOkText]="null"
  [nzVisible]="isVisible"
  nzTitle="Rater ratings"
  nzWidth="50rem"
>
  <ng-container *nzModalContent>
    <nz-spin [nzSpinning]="isLoading">
      @if (ratings.length === 0) {
        <div nz-typography nzType="secondary">No submit ratings yet.</div>
      } @else {
        <nz-table [nzData]="ratings" [nzFrontPagination]="false" nzSize="small">
          <thead>
          <tr>
            <th>Rater</th>
            <th>Relevance</th>
            <th>Quality</th>
            <th>Average</th>
            <th style="width: 9rem;">Actions</th>
          </tr>
          </thead>

          <tbody>
            @for (rating of ratings; track rating.rater_id) {
              <tr>
                <td>{{ rating.rater_name }}</td>
                <td><nz-rate [ngModel]="(rating.relevance_rating ?? 0) / 2" disabled nzAllowHalf nzCount="5"/></td>
                <td><nz-rate [ngModel]="(rating.quality_rating ?? 0) / 2" disabled nzAllowHalf nzCount="5"/></td>
                <td>
                  @if (averageRating(rating) !== null) {
                    {{ averageRating(rating) }} / 10
                  } @else {
                    -
                  }
                </td>
                <td>
                  <button (click)="toggleExpanded(rating.rater_id)" nz-button nzType="link" [disabled]="!rating.comment">
                    {{ isExpanded(rating.rater_id) ? 'Hide comment' : 'Show comment' }}
                  </button>
                </td>
              </tr>
              @if (isExpanded(rating.rater_id)) {
                <tr>
                  <td colspan="5" class="bg-gray-50">
                    @if (rating.comment) {
                      {{ rating.comment }}
                    } @else {
                      <span nz-typography nzType="secondary">No comment.</span>
                    }
                  </td>
                </tr>
              }
            }
          </tbody>
        </nz-table>
      }
    </nz-spin>
  </ng-container>
</nz-modal>
